
*.tiff
*.avi
*.mat
*.mp4
2021-12-21_13-49-52_A112_2xhis_1per_R1_f_worm_44_analysis.csv
2021-12-14_16-48-58_A112_ctrl_1per_R2_f.txt
build/lib/quiesence_analysis/__init__.py
build/lib/quiesence_analysis/src/quiescence_analysis.py
quiescence.egg-info/dependency_links.txt
quiescence.egg-info/PKG-INFO
quiescence.egg-info/SOURCES.txt
quiescence.egg-info/top_level.txt
quiesence_analysis/dev/pixel_diff_analysis.ipynb
build/lib/build/lib/build/lib/build/lib/build/lib/build/lib/build/lib/build/lib/quiesence_analysis/__init__.py
build/lib/build/lib/build/lib/build/lib/build/lib/build/lib/build/lib/quiescence_analysis/__init__.py
build/lib/build/lib/build/lib/build/lib/build/lib/build/lib/build/lib/quiesence_analysis/__init__.py
build/lib/build/lib/build/lib/build/lib/build/lib/build/lib/quiescence_analysis/__init__.py
build/lib/build/lib/build/lib/build/lib/build/lib/build/lib/quiescence_analysis/src/quiescence_analysis.py
build/lib/build/lib/build/lib/build/lib/build/lib/build/lib/quiesence_analysis/__init__.py
build/lib/build/lib/build/lib/build/lib/build/lib/build/lib/quiesence_analysis/src/quiescence_analysis.py
build/lib/build/lib/build/lib/build/lib/build/lib/quiescence_analysis/__init__.py
build/lib/build/lib/build/lib/build/lib/build/lib/quiescence_analysis/src/quiescence_analysis.py
build/lib/build/lib/build/lib/build/lib/build/lib/quiesence_analysis/__init__.py
build/lib/build/lib/build/lib/build/lib/build/lib/quiesence_analysis/src/quiescence_analysis.py
build/lib/build/lib/build/lib/build/lib/quiescence_analysis/__init__.py
build/lib/build/lib/build/lib/build/lib/quiescence_analysis/src/quiescence_analysis.py
build/lib/build/lib/build/lib/build/lib/quiesence_analysis/__init__.py
build/lib/build/lib/build/lib/build/lib/quiesence_analysis/src/quiescence_analysis.py
build/lib/build/lib/build/lib/quiescence_analysis/__init__.py
build/lib/build/lib/build/lib/quiescence_analysis/src/quiescence_analysis.py
build/lib/build/lib/quiescence_analysis/src/quiescence_analysis.py
build/lib/quiescence_analysis/src/quiescence_analysis.py
build/lib/quiescence_analysis/src/quiescence_analysis.py
build/lib/build/lib/quiescence_analysis/src/quiescence_analysis.py
